* {
    background-color: bisque;
}

ul {
    margin: 20px;
    list-style-type: disc;
}

ol {
    padding: 20px;
    list-style-position: inside;
    list-style: square;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1;
}
